{% extends './base.html' %}

{% block title %} Index {% endblock %}

{% block body %}
<style>
    .page_navegation-example{
        text-align: center;
        align-items: center;
    }
    {
        text-align: center;
        align-items: center;
    }

</style>
<!--Pagina web principal-->
<!--Titulo y primeros parrafos y boton-->
<div class="jumbotron">
    <h1 class="display-4">Bienvenido a BackWorld!</h1>
    <p class="lead">Aqui aprenderas sobre back-end y los distintos lenguajes que se pueden usar para el desarrollo Backend</p>
    <hr class="my-4">
    <p>Si quieres aprender más visita nuestro servidor de discord!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://discord.gg/PuQN6asyaz" role="button">Learn more</a>
    </p>
  </div>
  <!--Información sobre el backend-->
 <br> <h2>¿Que es el back-end?</h2>
<p>
    El back-end es la parte del desarrollo web que se encarga de que toda la lógica de una página web  funcione. Se trata del conjunto de acciones que pasan en una web pero que no vemos como, por ejemplo, la comunicación con el servidor. <br>
    
    El encargado de desarrollar el back-end se pasa el día entero toqueteando diferentes y variados códigos de programación en lenguajes como PHP, Java o .Net. El desarrollador debe ser meticuloso y cuidadoso en su trabajo ya que un pequeño despiste y ¡bum!… Página web caída. 
    Algunas de las funciones que se gestionan en la parte del back-end son: <br>
    

  · El Desarrollo de funciones que simplifiquen el proceso de desarrollo. <br>
  ·Acciones de lógica. <br>
    ·Conexión con bases de datos. <br>
  ·Uso de librerías del servidor web (por ejemplo para implementar temas de caché o para comprimir las imágenes de la web). <br>

    Además, tiene que velar por la seguridad de los sitios web que gestiona y optimizar al máximo los recursos para que las páginas sean ligeras. <br> <br>
    
   <br>  <h2>¿Qué debe caracterizar al desarrollador de back-end? </h2>
    Sentimos decirte que no todo el mundo puede ser programador back-end. Bueno, mentimos, estudiando puedes serlo, pero tiene que gustarte mucho para no cansarte ni volverte loco. Ser programador es sinónimo de ser constante, serio con tu trabajo y con alta capacidad de atención y concentración.
    
 
    Sin necesidad de ser bilingües ni ser un gran lumbreras, entendemos que si el back-end es el que desarrolla la parte de atrás de una web, lo que no se ve, el front-end… ¿será el que diseña lo de delante / lo que se ve? <br> <br>
    
   <br> Pues sí.
    
    El desarrollador de front-end se encarga de implementar todo lo relacionado con la parte visible, lo que «toca» el usuario cuando navega por la web. Resumiendo al máximo el front-end trabaja con HTML, CSS y JavaScript. <br>
    
  <br>  Su trabajo es mucho más visual que el del back-end, pero ambos trabajan mano a mano en cada proyecto porque no se entienden uno sin el otro. <br>
    
 <br>   <h2>¿Por qué es tan importante el back-End?</h2>
    Es cierto que no pueden vivir el back-end sin el front y viceversa. Sin embargo, y especialmente para ensalza, la parte del back se hace especialmente necesaria e imprescindible para desarrollar proyectos a medida, que es en lo que somos expertos nosotros. <br>
    
 <br>   Para una página web corporativa siempre puede haber un diseñador gráfico que haga un diseño nuevo y que un experto en front-end se encargue de maquetarla en WordPress. Con este formato, a priori, no hace falta ningún desarrollador de back-end y sin embargo se puede crear una web nueva. En este caso, el desarrollo de back-end se lo dejamos a WordPress y el front-end se «aprovechará» de esas funcionalidades para maquetar la web. <br>
    
  <br> Ademas, ¿Qué seríamos los programadores sin el back-end?
  <!--Mensaje copyright-->
<p>©By BackWorld 2023</p>
{% endblock %}